<%- include('include/_header'); %>

    <main>
        <div class="icon-user"><i class="fa fa-user-secret" aria-hidden="true"></i></div>
        <h1>Please choose your type</h1>
    </main>
    <div class="user_btn">
        <button><a href="/user/login">User</a></button><button><a href="#">Admin</a></button>
    </div>


    <%- include('include/_footer'); %>