<%- include('include/_header'); %>

    <div class="user_container">
        <div class="icon-user"><i class="fa fa-user-secret" aria-hidden="true"></i></div>
        <div class="login_container">
            <div class="user_login">
                <div class="user_method">
                    <p class="active_btn"><a href="/user/login">Login</a></p>

                    <p><a href="/user/register">Register</a></p>
                </div>
                <form action="/user/api/user" method="GET">
                    <div class="login_from">
                        <div class="input_user">
                            <div class="icons-from">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            <input type="text" name="email" id="name" placeholder="email">
                        </div>
                        <div class="input_user">
                            <div class="icons-from">

                                <i class="fa fa-mobile" aria-hidden="true"></i>
                            </div>
                            <input type="text" name="phone" id="phone" placeholder="phone Number">
                        </div>

                    </div>
                    <button type="submit">Login</button>
                </form>
            </div>

        </div>
    </div>


    <%- include('include/_footer'); %>